
@font-face {font-family: "BeaufortforLOL-Bold"; src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot"); src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff") format("woff"), url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold") format("svg"); }

@font-face{
	font-family: "font lol";
	src: url('lol.ttf');
}

header{
    background: url('../img/lol-logo.png') no-repeat center center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	margin-bottom: 15px;
	padding-top: 10px;
	height: 200px;
}

header:before{
	content: ' ';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	background: url('../img/fond.png') center center;
	background-size: 100% 100%;
	filter: blur(5px);
	box-shadow: inset 0px -30px 25px 10px #061c25;
}

body{
    background: #061c25 no-repeat center center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	margin-bottom: 15px;
	padding-top: 10px;
	height: 200px;
	
	font-family: "font lol";
	color: #f0e68c;
}

/* Partie I */

#content{
	transition: filter 1s;
}

.underline {	
	display: block;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	height: 3px;
	margin-bottom: 5px;
	background: #FFD700;
	pointer-events: none;
	mix-blend-mode: multiply;
	transition: width 0.75s, transform 0.5s ease-in-out;
}

.menuLol {
	position: relative;
	display: inline-block;
	padding: 10px 0;
	margin-left: 15px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	z-index: 14;
	color:black;
	transition-duration: 300ms;
	transition-property: color;
}

.menuLol:hover {
	color:#d98200;
	transition-duration: 300ms;
	transition-property: color;
}

.inputsrch{
	float: right;
	position: relative;
	top: -8px;
	right: 50px;
	display: inline-block;
	padding: 10px 0;
	font-size: 14px;
	z-index: 14;
	background: #e0e0e0;
	border: none;
	border-bottom: 1px solid gray;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
}

.imgsrch{
	float: right;
	position: relative;
	top: 0;
	right: -145px;
	display: inline-block;
	z-index: 14;
	cursor: pointer;

}

.navLol {
	position: relative;
	white-space: nowrap;
	background: transparent;
	padding: 3px 0;
	margin: 30px;
	
	
	margin-left:auto;
	margin-right:auto;
	width: 840px;
}

.navLol:after{
	position: absolute;
	content: ' ';
	left: 5px;
	bottom: 0;
	border-bottom: 1px solid gray;
	width: 98.5%;
	height: 45px;
}

.list_content{
	position: relative;
	
	width: 845px;
	margin: 0 auto;
	margin-bottom: 300px;
	padding: 20px 0;
	background-color: #d9d9d9;
	box-sizing: border-box;
}

.list_content:before{
	content: ' ';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	filter: blur(15px);
	z-index: -2;
}

.list_content:after{
	content: ' ';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	filter: blur(15px);
	z-index: -1;
}

.list_content:before,
.list_content:after{
	background: linear-gradient(15deg, #00bcd4, #2E8B57, #00bcd4);
}

.list_champ{

}

.filtreLol{
	display:block;
}

.title{
	background: url('../img/select.png') center center no-repeat;
	height: 150px;
}

.imgChamp{
	width: 150px;
	height: 250px;
	transition: transform 0.5s;
}

.effect_list{
	content: " ";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 11%;
	padding-top: 11%;
	background-color: #d9d9d9;
	transform: translate(50%, -50%) rotate(45deg);
	transition: visibility 0.15s 0s, opacity 0.2s 0.2s, transform 0.5s ease 0s;
}

.nameChamp:hover{
	cursor: pointer;
}

.nameChamp:hover > .effect_list{
	transform: translate(150%, -150%);
	visibility: hidden;
	opacity: 0;
}

.nameChamp:hover > .imgChamp{
	transform: scale(0.9, 0.9);
}

.nameChamp:hover > .textChamp{
	transform: scale(0.9, 0.9);
	margin-top: -15px;
	background-color: #135D68;
}

.nameChamp{
	position: relative;
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 15px;
	width: 150px;
	vertical-align: top;
	overflow: hidden;
}

.textChamp{
	text-align: center;
	display: block;
	background-color: #061c25;
	margin-top: -5px;
	padding: 6%;
	transition: transform 0.5s, margin-top 0.4s, background-color 0.2s;
}

.nameChamp:after{
	content: '';
	position: absolute;
	top: 237px;
	left: -165px;
	width: 20px;
	height: 29px;
	background: linear-gradient(90deg, transparent, rgba(240,230,140,0.8), transparent);
	transform: skewX(35deg);
	transition: 0s;
}

.nameChamp:hover:after{
	left: calc(100% + 165px);
	transition: 0.5s;
	transition-delay: 0.2s;
}



/* Partie II */

#details{
	position: fixed;
	z-index: 100;
	background-size: 20% 20%;
	bottom:0;
	left:0;	
	width:100%;
	
	height: 600px;
	background-size: 70% 100%;
	background: rgba(6, 28, 37, 1) no-repeat center center;
	border-top: 2px groove white;
	transform: translate(0%, 100%);
	transition: transform 2s, background 1.25s;
	
	box-shadow: inset -310px -15px 25px 10px #061c25, inset 310px 30px 25px 10px #061c25;
}

#details-side{
	background-color: rgba(6, 28, 37, 0.6);
	height:800px;
	width:25%;
	display:inline-block;
	padding: 1em;
}

#details-center{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	
	height:80px;
	width:44%;
	display:inline-block;
}

#details-center > div{
	font-family: "BeaufortforLOL-Bol";
	font-style: italic;
}

#boxButton{
	margin-left: auto;
	margin-right: auto;
	background: rgba(6, 28, 37, 0.6);
	width: 60px;
	border-radius: 0px 0px 5px 5px;
	border-bottom: 2px groove white;
	border-left: 2px groove white;
	border-right: 2px groove white;
	
	cursor: pointer;
}

#buttonStyle{
	display: block;

	width: 20px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(90deg);
	transition: transform 0.75s;

}

#boxSkin{
	float: right;
	margin-top: 20px;

	border-radius: 5px 5px 5px 5px;
	border: 2px solid #B58845;

	
	cursor: pointer;
}

#changeSkin{
	width: 122px;
	height: 72px;
	opacity: 35%;
	transition-property: opacity;
	transition-duration: 200ms;
}
#changeSkin:hover{
	opacity:100%;
	transition-property: opacity;
	transition-duration: 300ms;
	transition-timing-function: ease-in;
}

#competence{
	position: fixed;
	bottom: 0;
}

#competence > ul{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.img-border{
	border: 2px solid #B58845;
	border-radius: 20px;
	transform: scale(1, 1);
	cursor: pointer;
	transition: border-radius 0.5s, transform 0.5s;
}

.img-border:hover{
	border-radius: 10px;
	transform: scale(1.1, 1.1);
}

.img-border:hover + #descSpell{
	border-radius: 15px;
	display: block;
}

.comp-bar{
	margin-left: 30px;
}

#descSpell{
	display: none;
	position: absolute;
	top: -190px;
	transform: translateX(-38%);
	width: 300px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(6, 28, 37, 0.8);
}

#descSpell:after{
	content: "▼";
	position: absolute;
	top: 220px;
	transform: translateX(470%) rotate(-126deg);
	font-size: 30px;
	color: #061c25;
	opacity: 0.8;
}

#details-side-left{
	position: absolute;
	right: 0;
	background-color: rgba(6, 28, 37, 0.6);
	height:800px;
	width:25%;
	display:inline-block;
	padding: 1em;
	
}

#stat > ul {
	position: relative;

	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#stat > ul > li > p {
	position: relative;
	top: -10px;
	font-size: 20px;
	width: 60px;
	text-align: right;
	margin-bottom: 0px;
}

.imgStat1:hover:after,
.imgStat1:focus:after {
	content: attr(aria-label1);  /* on affiche aria-label */
	position: absolute;
	top: -33px;
	left: 85px;
	transform: translateX(-50%); /* on centre horizontalement  */
	z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
	white-space: nowrap;  /* on interdit le retour à la ligne*/
	padding: 5px 14px;
	background: rgba(6, 28, 37, 0.8);
	border-radius: 4px;
	font-size: 16px;
}

[aria-label1]:hover:before,
[aria-label1]:focus:before {
	content: "▼";
	position: absolute;
	top: -13px;
	left: 85px;
	z-index: 1;
	transform: translateX(-50%); /* on centre horizontalement  */
	font-size: 20px;
	color: #061c25;
}

.imgStat2:hover:after,
.imgStat2:focus:after {
	content: attr(aria-label2);  /* on affiche aria-label */
	position: absolute;
	top: 5px;
	left: 85px;
	transform: translateX(-50%); /* on centre horizontalement  */
	z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
	white-space: nowrap;  /* on interdit le retour à la ligne*/
	padding: 5px 14px;
	background: #135D68;
	border-radius: 4px;
	font-size: 16px;
}

[aria-label2]:hover:before,
[aria-label2]:focus:before {
	content: "▼";
	position: absolute;
	top: 25px;
	left: 85px;
	z-index: 1;
	transform: translateX(-50%); /* on centre horizontalement  */
	font-size: 20px;
	color: #135D68;
}

.imgStat3:hover:after,
.imgStat3:focus:after {
	content: attr(aria-label3);  /* on affiche aria-label */
	position: absolute;
	top: 30px;
	left: 85px;
	transform: translateX(-50%); /* on centre horizontalement  */
	z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
	white-space: nowrap;  /* on interdit le retour à la ligne*/
	padding: 5px 14px;
	background: #135D68;
	border-radius: 4px;
	font-size: 16px;
}

[aria-label3]:hover:before,
[aria-label3]:focus:before {
	content: "▼";
	position: absolute;
	top: 50px;
	left: 85px;
	z-index: 1;
	transform: translateX(-50%); /* on centre horizontalement  */
	font-size: 20px;
	color: #135D68;
}